<% include head.ejs%>
<% include cdn.css.js.ejs%>


<body style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/galaxy-animation-with-shining-light-particle-stars-on-colorful-pink-orange-blue-gradient-background_bzum5wzge_thumbnail-full01.png'); background-repeat: no-repeat; background-size: 200%">

<div class="ui middle aligned center aligned grid" style="margin-top:5em">
  <div class="column" style="max-width: 450px">
    <h1 class="ui inverted header">
        Flickstarter
      <div class="sub inverted header">
        Flickstarter is the best new funding and talent platform for independent film. The place to be for filmmakers, actors, and film fans.
      </div>


    </h2>
    <% if (message.length) { %>
    <div class="ui message">
     <%= message %>
    </div>
    <% } %>

    <form action="/login" method="post" class="ui large form">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large teal submit button">Login with email</button>
        <br/>
        OR

        <% include social.login.ejs%>
      </div>

      <div class="ui error message"></div>


    </form>

    <div class="ui message">
      New to us? <a href="/signup">Register</a>
    </div>
  </div>
</div>

<% include foot.ejs%>
